.DS_Store

app/vendor/*

runtime/*
!runtime/.htaccess
!runtime/index.html

# Environment Variables
.env

# Logs and Cache
*.log
runtime/logs/*
runtime/cache/*

# IDE Files
#-------------------------
/nbproject/
.idea/*
.vscode/

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

# OS Files
Thumbs.db
.DS_Store